* {
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
}

html, body {
    background: rgb(219, 219, 219);
    color: rgb(12, 12, 12);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;

    overflow: hidden;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    left: 25px;
}


.banner {
    background-color: yellow;
    background-image: url(images/pexels-алёна-8501678.jpg);
    background-size: cover;
    height: 100vh;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.logo-img {
    height: 100px;
    width: 100px;
    position: relative;
}

.logo-box {
    background-color: rgba(0, 0, 0, .35);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0 10px 0;
    top: 5em;
    font-size: 50px;
    font-family: ShadowsIntoLight;
}

.banner-footer {
    margin-top: auto;
    align-self: center;
}

.form-box {
    background: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    position: relative;
}



.input-container {
    background: rgb(230, 230, 230);
    gap: 25px;
    width: 100vh;
    padding: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 7px 7px 0px rgb(173, 173, 173);
    position: relative;
    right: 25px;
}

.form-row {
    display: flex;
    gap: 25px;
}

.form-header {
    font-family: ShadowsIntoLight;
    padding: 25px 0 25px 25px;
     position: relative;
     right: 25px;
     background: rgb(230, 230, 230);
}

.box1 {
    position: relative;
    top: 5rem;
    max-width: 35rem;
}

.form-inputs {
    gap: 10px;
    
}

input {
    appearance: none;
    border-radius: 5px;
    height: 25px;
    border: 1px solid gray;
    display: flex;
}

input[type='submit'] {
    padding: 10px;
    height: 50px;
    position: relative;
    top: 20px;
    color: rgb(253, 236, 2);
    background-color: rgb(202, 151, 10);
    font-size: 17px;
    font-weight: bold;
}

input:focus {
    background-color: rgb(206, 221, 2);
}

input:invalid {
    border: 3px solid red;
}

input:valid {
    border: 3px solid green;
}

.login {
    position: relative;
    bottom: 4em;
}

a {
    text-decoration: none;
    color: rgb(202, 151, 10);
    font-weight: 800;
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url(fonts/ShadowsIntoLight-Regular.ttf);
}