/* * {
    border: 1px solid green;
} */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    background: rgb(219, 219, 219);
    color: rgb(12, 12, 12);
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    left: 25px;
    width: 100%;
}


.banner {
    background-color: yellow;
    background-image: url(images/pexels-алёна-8501678.jpg);
    background-size: cover;
    height: 100vh;
    width: 35%;
    min-width: 20em;
    display: flex;
    flex-direction: column;
}

.logo-img {
    height: 100px;
    width: 100px;
    position: relative;
}

.logo-box {
    background-color: rgba(0, 0, 0, .35);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0 10px 0;
    top: 5em;
    font-size: 50px;
    font-family: ShadowsIntoLight;
}

.banner-footer {
    margin-top: auto;
    align-self: center;
}

.form-box {
    background: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-container {
    background: rgb(230, 230, 230);
    gap: 25px;
    padding: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 7px 7px 0px rgb(173, 173, 173);
    position: relative;
    right: 25px;
}

.form-row {
    display: flex;
    gap: 25px;
}

.form-header {
    font-family: ShadowsIntoLight;
    padding: 25px 0 25px 25px;
     position: relative;
     right: 25px;
     background: rgb(230, 230, 230);
}

.box1 {
    max-width: 35rem;
}

.form-inputs {
    gap: 10px;
    
}

input {
    appearance: none;
    border-radius: 5px;
    height: 25px;
    border: 1px solid gray;
    display: flex;
}

input[type='submit'] {
    padding: 10px;
    height: 50px;
    position: relative;
    top: 20px;
    color: rgb(253, 236, 2);
    background-color: rgb(202, 151, 10);
    font-size: 17px;
    font-weight: bold;
}

input:focus {
    background-color: rgb(206, 221, 2);
}

input:invalid {
    border: 3px solid red;
}

input:valid {
    border: 3px solid green;
}

.login {
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(202, 151, 10);
    font-weight: 800;
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url(fonts/ShadowsIntoLight-Regular.ttf);
}