* {
    border: 1px solid green;
    margin: 0;
    padding: 0;
}

html, body {
    background: rgb(43, 43, 43);
    color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.banner {
    background-color: yellow;
    background-image: url(images/pexels-алёна-8501678.jpg);
    background-size: cover;
    height: 100vh;
    width: 60em;
    display: flex;
    flex-direction: column;
}

.logo-img {
    height: 100px;
    width: 100px;
    position: relative;
}

.logo-box {
    background-color: rgba(0, 0, 0, .35);
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0 10px 0;
    top: 5em;
    font-size: 50px;
    font-family: ShadowsIntoLight;
}




.banner-footer {
    margin-top: auto;
    align-self: center;
}

.form-box {
    background: rgb(199, 199, 199);
    display: flex;
    gap: 25px;
    padding: 25px;
}

.box2 {
    background-color: gray;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

input {
    appearance: none;
    border-radius: 5px;
    height: 25px;
    border: 1px solid gray;
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url(fonts/ShadowsIntoLight-Regular.ttf);
}