* {
    border: 1px solid green;
    margin: 0;
    padding: 0;
}

html, body {
    background: rgb(43, 43, 43);
    color: aliceblue;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.banner {
    background-color: yellow;
    background-image: url(images/pexels-алёна-8501678.jpg);
    background-size: cover;
    height: 100vh;
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.logo-img {
    height: 100px;
    width: 100px;
    position: relative;
}

.logo-box {
    background-color: rgba(0, 0, 0, .35);
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0 10px 0;
    top: 5em;
    font-size: 50px;
    font-family: ShadowsIntoLight;
}




.banner-footer {
    margin-top: auto;
    align-self: center;
}

.form-box {
    background: rgb(199, 199, 199);
    gap: 25px;
    padding: 25px;
    display: flex;
    position: relative;
}

.form-header {
    position: absolute;
    top: 5px;
}

.box1 {
    position: relative;
    top: 7em;
}

.box2 {
    
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

input {
    appearance: none;
    border-radius: 5px;
    height: 25px;
    border: 1px solid gray;
}

input[type='submit'] {
    padding: 10px;
    height: 50px;
    /* height: 40px;
    margin-left: 25px;
    margin-top: 25px; */
    position: relative;
    top: 20px;
    left: 25px;
    color: white;
    background-color: rgb(124, 240, 124);
    font-size: 17px;
    font-weight: bold;
}

.login {
    position: relative;
    bottom: 7em;
    left: 25px;
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url(fonts/ShadowsIntoLight-Regular.ttf);
}